.cuerpo
{
    background-color: skyblue;
}
.col1
{
    border: 5px solid black;
}
.col
{
    height: 250px;
    border: solid 5px black;
}
.img1
{
    background-image: url(../img/negro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}