.cuerpo
{
    background-color: green;
    background-image: linear-gradient(green,white,red);
}
.a
{
    border: 2px solid black;
    background-color: white;
    height: 50px;
}
.b
{
    border: 2px solid black;
    background-color: white;
    height: 200px; 
}
.c
{
    border: 2px solid black;
    background-color: white;
    height: 200px; 
}
.t
{
    font-family: 'Oswald', sans-serif;
}
.p
{
    font-family: 'Oswald', sans-serif;
}
.b1
{
    border: 2px solid black;
    background-color: white;
    height: 200px; 
}
.img
{
  background-image: url(../img/interior-design-0.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img1
{
  background-image: url(../blogs/ciencia/img/sh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img2
{
  background-image: url(../blogs/cocina/img/daniela.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
}
.img3
{
  background-image: url(../blogs/tecnologia/img/xiaomi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img4
{
  background-image: url(../blogs/deporte/img/canelo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img5
{
    background-image: url(../blogs/espectaculo/img/liam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img6
{
    background-image: url(../blogs/cine/img/av.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}