.cuerpo
{
    background-color: mediumseagreen;
}
.col1
{
    border: 5px solid black;
}
.col
{
    height: 250px;
    border: solid 5px black;
}
.img1
{
    background-image: url(../img/negro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img2
{
    background-image: url(../img/oasis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.img3
{
    background-image: url(../img/lia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.vi
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}